{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="region region-widthcon">
                <section id="block-block-13" class="block block-block clearfix">


                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 krohi">
                                <section id="block-easy-breadcrumb-easy-breadcrumb" class="block block-easy-breadcrumb clearfix">


                                    <div itemscope="" class="easy-breadcrumb" itemtype="http://data-vocabulary.org/Breadcrumb">
                                        <span itemprop="title"><a href="{% url 'index' %}">{% trans 'Главная' %}</a></span> <span class="easy-breadcrumb_segment-separator">»</span>
                                        <span class="easy-breadcrumb_segment easy-breadcrumb_segment-title" itemprop="title">{% trans 'Куда сходить' %}</span> </div>

                                </section>
                            </div>
                            <div class="col-md-3 pamyat_t">
                                <p>{% trans 'КУДА СХОДИТЬ' %}<br>
                                    {% trans 'Проведите время с пользой и удовольствием!' %}</p>
                            </div>

                            <div class="col-md-9">
                                <div class="oteltopkat">
                                    <p><span>{{count_museum}}</span>{% trans 'музеев' %}</p>
                                </div>
                                <div class="oteltopkat">
                                    <p><span>{{count_monument}}</span>{% trans 'памятников' %}</p>
                                </div>
                                <div class="oteltopkat">
                                    <p><span>{{count_showplace}}</span>{% trans 'достопримичательностей' %}</p>
                                </div>
                                <div class="oteltopkat">
                                    <p><span>{{count_zapovednik}}</span>{% trans 'заповедник' %}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>



            <div class="main-container container page-where-to-go wtg">

                <header role="banner" id="page-header">

                </header> <!-- /#page-header -->

                <div class="row">


                    <section class="col-sm-12">
                        <a id="main-content"></a>
                        <h1 class="page-header">{{go.title}}</h1>
                        <div class="region region-content">
                            <section id="block-system-main" class="block block-system clearfix">
                                <article id="node-132" class="node node-wheretogo clearfix" about="/ru/where-to-go/alleya-geroev-sovetskogo-soyuza" typeof="sioc:Item foaf:Document">
                                    <header>
                                        <span property="dc:title" content="{{go.title}}" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span> </header>
                                    <div class="group-row field-group-div row podfothot">
                                        <div class="group-md8 field-group-div col-md-8">
                                            <div class="field field-name-field-gallery field-type-image field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even">
                                                    <div class="slider">
                                                            <div class="slider__item filter">
                                                                <img src="{{ go.thumbnail.url }}" alt="Фото">
                                                            </div>
                                                            {% for img in go.gallery.all %}
                                                            <div class="slider__item">
                                                                <img src="{{img.images.url}}" alt="">
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="group-md4 field-group-div  col-md-4">
                                            <div class="field field-name-field-adres field-type-text field-label-above">
                                                <div class="field-label">Адрес:&nbsp;</div>
                                                <div class="field-items">
                                                    <div class="field-item even">{{go.address}}</div>
                                                </div>
                                            </div>
                                            {% if go.phone %}
                                            <div class="field field-name-field-phone field-type-text field-label-hidden">
                                                <div class="field-label">Телефон:&nbsp;</div>
                                                <div class="field-items"><div class="field-item even">{{go.phone}}</div></div></div>
                                            <div class="field field-name-field-map field-type-text field-label-above">
                                                {% endif %}
                                                <div id="first_map" style=" height:300px"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
                                        <p>{{go.content}}</p>
</div></div></div>
                                </article>

                            </section>
                        </div>
                    </section>


                </div>
            </div>
        </div>
        <script src="../js/script.js"> </script>
    <script>
        ymaps.ready(function() {
            // Указывается идентификатор HTML-элемента.
            var my_map = new ymaps.Map("first_map", {
                    center: [53.283302, 69.366895],
                    zoom: 16
                }, {
                    searchControlProvider: 'yandex#search'
                }),
                myGeoObject = new ymaps.GeoObject({
                    // Описание геометрии.
                    geometry: {
                        type: "Point",
                        coordinates: [55.8, 37.8]
                    },
                    // Свойства.
                    properties: {
                        // Контент метки.
                        iconContent: 'Я тащусь',
                        hintContent: 'Ну давай уже тащи'
                    }
                }, {
                    // Опции.
                    // Иконка метки будет растягиваться под размер ее содержимого.
                    preset: 'islands#blackStretchyIcon',
                    // Метку можно перемещать.
                    draggable: true
                }),
                myPieChart = new ymaps.Placemark([
                    55.847, 37.6
                ], {
                    // Данные для построения диаграммы.
                    data: [{
                            weight: 8,
                            color: '#0E4779'
                        },
                        {
                            weight: 6,
                            color: '#1E98FF'
                        },
                        {
                            weight: 4,
                            color: '#82CDFF'
                        }
                    ],
                    iconCaption: "Диаграмма"
                }, {
                    // Зададим произвольный макет метки.
                    iconLayout: 'default#pieChart',
                    // Радиус диаграммы в пикселях.
                    iconPieChartRadius: 30,
                    // Радиус центральной части макета.
                    iconPieChartCoreRadius: 10,
                    // Стиль заливки центральной части.
                    iconPieChartCoreFillStyle: '#ffffff',
                    // Cтиль линий-разделителей секторов и внешней обводки диаграммы.
                    iconPieChartStrokeStyle: '#ffffff',
                    // Ширина линий-разделителей секторов и внешней обводки диаграммы.
                    iconPieChartStrokeWidth: 3,
                    // Максимальная ширина подписи метки.
                    iconPieChartCaptionMaxWidth: 200
                });

            my_map.geoObjects
                .add(myGeoObject)
                .add(myPieChart)
                .add(new ymaps.Placemark([53.283302, 69.366895], {
                    balloonContent: '<strong>серобуромалиновый</strong> цвет'
                }, {
                    preset: 'islands#dotIcon',
                    iconColor: '#735184'
                }));

        });

    </script>

{% endblock %}